<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
<body class="container">
  <%- include('../partials/header', {pagina: 'Sobre'}); %>

  <main>
    <div class="jumbotron">
      <h1>Sobre mim</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem dolores necessitatibus laborum, molestiae, fugit animi, error inventore est rerum quis minima culpa.</p>
    </div>
  </main>

  <%- include('../partials/footer'); %>
</body>
</html>